
.root{
    height: 100vh;
    overflow: hidden;
    background: url('/backgrounds/loginBackground.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
}

@media only screen and (max-width: 960px) {
    .root{
        height: 100vh;
        overflow: hidden;
        background:url('/backgrounds/loginBackgroundMobile.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding: 0;
    }
}