@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body {
    height: 100%;
    margin : 0;
    font-family: 'Poppins', sans-serif !important;
    background-color: rgb(249, 250, 251) !important;	
}
